[Desktop Entry]
Name=Riot
Exec=AppRun
Terminal=false
Type=Application
Icon=riot-web
StartupWMClass=riot
X-AppImage-Version=1.5.15
Comment=A feature-rich client for Matrix.org
Categories=Network;InstantMessaging;Chat;
